.itemCard {
  border: 1px solid #9897f0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;

  flex-shrink: 1;
}
.name {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 15px;
}
.starBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  padding: 0px;
  background-color: #fff;
  border: 0px;
}
.date {
  color: #757782;
  margin: 0px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .itemCard {
    width: 180px;
    height: 100px;
    margin-right: 20px;
  }
  .date {
    font-size: 12px;
  }
  .name {
    font-size: 17px;
  }
}
